.notification {
  color: black;
  border: 1px solid;
  border-radius: 5px;
  padding: 20px;
}

.formulary {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.notification.success {
  color: green;
}

.notification.error {
  color: red;
}

.input {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
